.card{
    padding: 20px;
    border-bottom: 1px solid #eee;
    .prof{
        display: flex;
        text-align: left;
        .data{
            margin-left: 15px;
            h5{font-size: 18px;}
            p{font-size: 14px;}
        }
    }
    .content{
        padding-left: 65px;
        p{
            padding: 15px 20px 10px 0;
            text-align: left;
            white-space: pre-wrap;
        }
        .card-img{
            width: 100%;
            height: 400px;
            margin: 5px 0 10px 0;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .post-content{
        text-align: left;
        padding: 20px 0;
        p{
            font-size: 18px;
            line-height: 25px;
            white-space: pre-wrap;
            a{
                color: #535bf2;
                text-decoration: underline;
            }
        }
        .card-img{
            width: 100%;
            height: 500px;
            margin-top: 10px;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .card-detail{
        width: fit-content;
        padding-left: 65px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 60px;
        font-size: 14px;
        .tag{
            padding: 3px 10px;
            border-radius: 8px;
            color: #535bf2;
            font-weight: 700;
            background-color: #dbdcf3;
        }
        button{
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 5px;
            transition: all 0.3s;
            i{font-size: 18px;}
            .icon-full-star{
                color: #535bf2;
                text-shadow: 0px 0px 5px #9785ff; 
            }
            &:hover{
                color: #535bf2;
            }
        }
        .mdl{
            width: fit-content;
            position: absolute;
            display: flex;
            flex-direction: column;
            top: -80px;
            background-color: rgba(255,255,255,0.8);
            border: 1px solid #ccc;
            border-radius:5px;
            i{margin-right: 5px;}
            button:hover{color: #535bf2;}
        }
        .delEdit{
            right: -25px;
        }
        .shares{
            right: 60px;
        }
    }
    .np{padding-left: 0;}
}

