.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 100;
    transition: all 0.3s;
    .box{
        width: 280px;
        padding: 40px 20px 30px;
        text-align: center;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: rgba(17, 17, 26, 0.3) 0px 0px 16px;
    }
    .btn-sec{
        display: flex;
        justify-content: center;
    }

    .btn-modal{
        margin-top: 20px;
        border-radius: 8px;
        color: #fff;
        background-color: #535bf2;
    }

    .save{
        margin-top: 0;
        border: none;
        padding: 0.7rem 1.35rem;
        font-size: 1em;
        cursor: pointer;
    }

    .edit{
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            .editing {
                .updateImg{
                    position: relative;
                    label{
                        position: absolute;
                        right: 30px;
                        bottom: 5px;
                        cursor: pointer;
                        i{
                            padding: 5px;
                            border: 2px solid #dbdcf3;
                            border-radius: 100px;
                            color: #fff;
                            background-color: #535bf2;
                        }
                    }
                    input[type=file]{
                        display: none;
                    }
                }
                .change-name{
                    display: block;
                    width: 150px;
                    height: 36px;
                    font-size: 16px;
                    border: none;
                    border-bottom: 1px solid #999;
                    outline: none;
                }
                .btn-sec{
                    flex-direction: row;
                    margin-top: 30px;
                }
            }
        }
        .cancel{
            color: #292929;
            border: 2px solid #292929;
            background-color: transparent;
        }
    }
}

.img-large{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    object-fit: cover;
}