@import url('assets/style.css');

#root {
  margin: 0 auto;
  text-align: center;
}

.main{
  max-width: 1280px;
  margin: 0 auto;
}

.view{
  width: calc(100% - 320px);
  margin-left: 320px;
}

.no-padding{
  padding: 0;
}

.bar{
  height: 60px;
  text-align: left;
  line-height: 60px;
  border-bottom: 1px solid #eee;
}

.mt{
  margin-top: 20px;
}

.mt .group{
  display: flex;
  align-items: center;
  gap: 0 5px;
}

:disabled{
  color: #ccc;
  background-color: #999;
}